.preview-container {
  position: relative;
}

.preview-overlay {
  position: absolute;

  background-color: var(--transparent-default-color);
  width: 100%;
  height: 100%;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 400ms;
}

.preview-overlay:hover {
  opacity: 1;
}

.preview-overlay h2 {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.preview-overlay p {
  margin: 10px 0 5px;
}

.preview-overlay h3 {
  color: white;
  font-style: italic;
  text-align: center;
  margin-bottom: 100px;
}

.preview-overlay .buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.preview-overlay .buttons button {
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Tajawal", sans-serif;
  font-weight: 700;
}

.preview-overlay .buttons button + button {
  margin-left: 60px;
}

.preview-overlay .buttons button span {
  color: white;
  font-size: 40px;
  font-family: "Material Icons";
  font-weight: normal;

  margin-bottom: 10px;
  transition: 300ms;
}

.preview-overlay .buttons button:hover span {
  color: orangered;
  /* background-color: white; */
  /* border-radius: 8px; */

  transform: scale(1.2);

  position: relative;
}

.preview-overlay .buttons button:hover span::before {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: -1;

  width: 20px;
  height: 20px;
  background-color: white;
  color: white;
  content: " ";
}
