.image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 40px 0;
}

.image-container .image {
  position: relative;

  display: flex;
}

.image-container .image img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
