:root {
  --default-color: #1a1a2e;
  --transparent-default-color: rgba(26, 26, 46, 0.7);
  --transparent-dark-color: rgba(26, 26, 46, 0.9);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  overflow-x: hidden;

  color: var(--default-color);
}

html {
  scroll-behavior: smooth;
}

input,
button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
